/* Mobile Styles - Screens smaller than 768px */
@media (max-width: 768px) {
    body {
        padding: 25px; 
    }

    .parent {
        flex-direction: column; 
        gap: 30px;
    }

    .left, .right {
        width: 100%;
        margin: 0;
    }

    .box-child {
        grid-template-columns: repeat(1, 1fr); /* One item per row */
        gap: 30px;
    }

    .large-text {
        margin-bottom: 20px;
        font-size: 30px;
    }

    
    .item-img-container {
        height: auto;
    }

    .right {
        margin: auto;
        height: auto;
        padding-bottom: 30px;
    }
}